* {
	padding: 0;
	margin: 0;
}

body {
    background-image: url(../img/backgroun2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	position: fixed;

}

.menuContainer {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	position: relative;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.logo h1 {
	text-transform: uppercase;
}


.logo p {
	color: #fff;
	font-size: 0.6em;
	font-family: "Montserrat";
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuActive {
	position: fixed;
	top: 0;
	background-color: #000;
	border:1px solid #000;
	box-shadow: 5px 5px2 2.5px;
	transition: 0.5s ease-in-out;
}

#btnTop {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
}

#btnTop i {
	font-size: 22px;
	color: #000;
}

.menu ul {
	display: flex;
}

.listMenu {
	list-style: none;
	padding: 20px;
}

.listMenu a {
	text-decoration: none;
	color: #fff;
	margin-left: 35px;
	font-size: 18px;
}

.listMenu li a:hover {
	color: rgb(33, 165, 226);
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(33, 165, 226);
}

.rede i {
	font-size: 25px;
	text-decoration: none;
	color: #fff;
	margin-left: 20px;
	transition: .3s ease-in-out;
}

.rede i:hover {
	color: #fff;
	transform: scale(1.5);
}

#home {
	height: 100vh;
}

section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80%;
	margin: 45px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.containerInicio {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
}

.textInicio {
	display: flex;
	flex-direction: column;
	color: #fff;
	font-size: 30px;
}

.textInicio h1 {
	text-transform: uppercasebtnTop;
	padding-bottom: 15px;
	letter-spacing: 0.1em;

}

.textInicio span {
	text-transform: uppercase;
	font-size: 0.7em;
	padding-bottom: 15px;
	color: rgb(33, 165, 226);
	letter-spacing: 0.1em;

}

.imagemLogo {
	width: 200px;
	height: 200px;
}

.imagemLogo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.backSection {
	background-color: #000;
}

.containerSobre, .containerService, .containerProjetos, .containerQualificao, .containerSkill, .containerContact {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.textGuia {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	margin-bottom: 70px;
	font-size: 0.8em;
}

.textGuia span{
	background-color: #fff;
	width: 5em;
	height: 3px;
	margin-top: 10px;
}

.infoSobre {
	display: flex;
	justify-content: space-between;
	border: 2px solid #fff;
	border-radius: 4px;
	background-color: #333;
	height: 70vh;
}

.imgSobre {
	border-right: 3px solid #fff;
	width: 400px;
	height: 70vh;
	display: block;
}

.imgSobre img {
	display: block;
	width: 400px;
	height: 100%;
}

.textContainer {
	text-align: center;
	color: #fff;
	padding: 20px;
}

.textContainer h1 {
	font-size: 1.2em;
	text-transform: uppercase;
}

.textContainer p {
	font-size: 0.6em;
	font-weight: 0;
	text-align: center;
	letter-spacing: 0.1em;
	padding-top: 20px;
}

.listService {
	color: #fff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.listService li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 32%;
	padding: 30px 5px;
	list-style: none;
	text-align: center;
	background: 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 100% 100%, 
		linear-gradient(#fff,#fff) 100% 100%;
    background-size: 0px 0px, 0px 0px;
    background-origin: content-box;
    background-repeat: no-repeat;
    transition: 1s;
   
}

.listService li h1 {
	font-size: 1.0em;
}

.listService li span {
	width: 80%;
	padding-top: 15px;
	text-align: center;
	font-size: 0.7em;
}

.listService li i {
	font-size: 2em;
	margin-bottom: 15px;
	color: #fff;
	border-radius: 50%;
}
.listService li i:hover {
	transition: 0.2s ease-in-out;
	transform: scale(1.5);
	color: rgb(33, 165, 226);
}

.listService li:hover {
    background: 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 100% 100%, 
		linear-gradient(#fff,#fff) 100% 100%;
    background-size: 10px 2px, 2px 10px;
    background-origin: content-box;
    background-repeat: no-repeat;
    transition: 1s;
}

.navProjetos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.textProject {
	width: 100%;
	height: 15%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px 4px 0 0;

}

.textProject h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 0.6em;
}



.navProjetos li {
	width: 24%;
	height: 500px;
	list-style: none;
	text-align: center;
	border: 1px solid rgb(201, 201, 201);
	border-radius: 4px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
	
}

.btnImage {
	height: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.btnImage img {

	height: calc(85% - 20px);
	width: 100%;
}

.navProjetos li button {
	width: 75%;
	height: 15%;
	border-radius: 2px;
	font-size: 0.7em;
	font-family: "Montserrat";
	font-weight: bolder;
	color: #000;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid #000;
}

.navProjetos li button:hover {
	color: #fff;
	background-color: #000;
	border: none;
}

.backExp {
	width: 100%;
	height: 100vh;
	border-radius: 15px;
	background-color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.contExp {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 33vh;
	color: #fff;
	text-align: justify;
}

.cont1 h1, .cont3 h1 {
	padding-bottom: 10px;
	font-size: 1em;
}

.cont1 span {
	white-space:pre;
	font-size: 0.7em;
}

.cont1 img {
	margin-top: 20px;
	right: 0;
	bottom: 0;
	width: 70px;
	height: 70px;
	border-radius: 5px;
}

.cont3 p {
	font-size: 0.7em;
}

.cont2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin: 0 20px;
}

.cont2 i {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: rgb(33, 165, 226);
	background-color: #fff;
	border-radius: 50%;
	font-size: 18px;
}

.cont2 span {
	background-color: #fff;
	width: 3px;
	height: 100%;
}

.navSkill {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.navSkill li {
	width: 32%;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	background: 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 100% 100%, 
		linear-gradient(#fff,#fff) 100% 100%;
    background-size: 0px 0px, 0px 0px;
    background-origin: content-box;
    background-repeat: no-repeat;
    transition: 1s;
}

.navSkill li:hover {
	background: 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 0 0, 
		linear-gradient(#fff,#fff) 100% 100%, 
		linear-gradient(#fff,#fff) 100% 100%;
    background-size: 10px 2px, 2px 10px;
    background-origin: content-box;
    background-repeat: no-repeat;
    transition: 1s;
}

.textSkill {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 10px 0;
}

.textSkill img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 5px;
}

.textSkill img:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

.boxPercent {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	width: 40px;
	height: 25px;
}

.boxPercent::after {
	content: '';
	position: relative;
	top: 1.4vh;
	right: 15px;
	background-color: #fff;
	width: 100%;
	height: 5px;
	padding: 3px;
	transform: rotate(45deg);
	border-radius: 1px;
}

.boxPercent::before {
	content: '';
	position: relative;
	top: 1.4vh;
	left: 15px;
	background-color: #fff;
	width: 100%;
	height: 5px;
	padding: 3px;
	transform: rotate(-45deg);
	border-radius: 1px;
}

.textSkill h1 {
	font-size: 1em;
}

 .textSkill span {
	color: #000;
	font-size: 0.5em;
	font-weight: bold;
}

.percentual {
	display: flex;
	align-items: center;
	width: 100%;
	height: 8px;
	border-radius: 30px;
	background-color: #fff;

}

.html {
	width: 80%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	background-color: rgb(33, 165, 226);
}

.css {
	width: 80%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	background-color: rgb(33, 165, 226);
}

.javaScript {
	width: 35%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	background-color: rgb(33, 165, 226);
}

.reactJs {
	width: 20%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	background-color: rgb(33, 165, 226);
}

.reactNative {
	width: 20%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	background-color: rgb(33, 165, 226);
}

.jQuery {
	width: 10%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	background-color: rgb(33, 165, 226);
}

.infoContact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	width: 100%;

}

.textCont {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.textCont h1, .textCont h1 {
	margin-bottom: 20px;
}

.textCont span, .textCont span {
	font-size: 0.8em;
	margin-bottom: 20px;

	
}

.formulario, .textContact {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 100vh;
	text-align: center;
	font-size: 18px;
}

.formulario form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

input, textarea {
	background-color: transparent;
	margin-bottom: 20px;
	padding: 10px;
	width: 80%;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	outline: 0;
	font-size: 0.8em;
}

input::placeholder {
	color: #fff;
}

textarea::placeholder {
	color: #fff;
}

.textContact {
	color: #fff;
}

form button {
	width: 50%;
	height: 50px;
	background-color: rgb(33, 165, 226);
	border-radius: 30px;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
	border: none;
}

form button:hover {
	background-color: rgba(33, 165, 226, 0.74);
}

.menuHambuger {
	display: none;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: fixed;

}

#hamburger {
	position: absolute;
	margin-bottom: 6px;
	width: 30px;
	height: 3px;
	color: #fff;
	border-top: 2px solid #fff;

}

#hamburger::after, #hamburger::before {
	content: '';
	display: block;
	width: 30px;
	height: 2px;
	margin-top: 6px;
	background: currentColor;
	display: flex;
	position: relative;
	transition: .3s;
}

#navMenu.ativo #hamburger {
	border-top-color: transparent ;
}

#navMenu.ativo #hamburger::after {
	transform: rotate(135deg);
	top: -7px;

}

#navMenu.ativo #hamburger::before {
	transform: rotate(-135deg);

}

#navMenu.ativo #hamgurger {
	border-top-color: transparent ;
}

[data-anime] {
	opacity: 0;
	transition: .3s;
}

[data-anime="right"] {
	transform: translate3d(-20px, 0, 0);
}


[data-anime="left"] {
	transform: translate3d(20px, 0, 0);
}

[data-anime].animated {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}


@media (max-width: 600px) {


	#menu {
		background-color: #000;
		width: 100%;
		height: 60px;
		position: fixed;
		z-index: 1;
	}

	.menuContainer {
		width: 100%;
	}

	.logo {
		padding-left: 20px;
		font-size: 12px;
	}

	#btnHamburger {
		position: fixed;
		top: 2.5vh;
		right: 20px;
		display: block;
	}
	
	.menu {
		position: absolute;
		top: 5vh;
		left: 0;
		width: 100%;
	}

	#navMenu.ativo #idListe {
		height: calc(100vh - 50px);
		visibility: visible;
		overflow-y: auto;
	}

	.menu .listMenu {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		top: 1vh;
		position: absolute;
		padding: 0;
		visibility: hidden;
		background-color: #000;
		height: 0px;
		transition: .3s;
		z-index: 1000;
		overflow-y: hidden;
	}

	.listMenu li {
		width: 80%;
		padding: 20px;
		border-bottom: 1px solid #fff;
	}

	.listMenu li a {
		margin-left: 0;
	}

	.menu .rede {
		display: none;
	}

	#home {
		height: calc(100vh - 100px);
	}

	.containerSobre, .containerService, .containerProjetos, .containerQualificao, .containerSkill, .containerContact {
		width: 90%;
		font-size: 20px;
	}

	.container {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.containerInicio {
		flex-direction: column-reverse;
		width: 90%;
		padding: 0;
	}

	.textInicio {
		font-size: 20px;
	}

	.textInicio h1 {
		padding-top: 30px
	}

	.textInicio span {
		text-align: center;
	}

	.imagemLogo {
		position: absolute;
		top: 12vh;
		width: 170px;
		height: 170px;
	}

	.infoSobre {
		background-color: transparent;
		border: none;
		height: 600px;
	}

	.imgSobre {
		display: none;		
	}

	.listService li {
		padding: 20px 0;
		width: 100%;
	}

	#contact {
		display: none;
	}

	.navProjetos li {
		width: 100%;
		margin-bottom: 20px;
	}

	.backExp {
		width: calc(100% - 40px);
		height: auto;
		border-radius: 5px;
	}

	.cont3::after {
		content: '';
		display: block;
		background-color: rgb(255, 255, 255);
		margin-top: 20px;
		width: 100%;
		height: 3px;
		border-radius: 30px;
	}

	.cont2 {
		display: none;
	}

	.contExp {
		flex-direction: column;
		height: auto;
		padding-bottom: 20px;
	}

	.cont1 {
		display: flex;
		justify-content: space-between;
	}

	.cont1 img {
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}

	.cont1, .cont3 {
		padding-bottom: 10px;
	}

	.navSkill li {
		background: none;
		width: 99%;
	}

	.navSkill li:hover {
		background: none;
	}

	.textSkill {
		padding: 10px 0;
	}


	

	
}