* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url(../img/backgroun2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}

section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#slide {
    position: absolute;
    width: 300px;
    height: 300px;
    transition: 1s;
    background-color: blue;
}

section:hover #slide{
    border: 1px solid  #fff;
    transition: 1s;
    left: 0;

    border-top-left-radius: 20px 20px ;
}
